
**/*.ts
**/tsconfig.json

.gitlab-ci.yml
CHANGELOG.adoc
vadacode.code-workspace
scripts
.eslintignore
.eslintrc.js
.vscodeignore
.vscode
.DS_Store
.gitignore
datalogpm-parser
samples
docs
README.md
tsconfig.json
.git
node_modules
package-lock.json
client/**
!client/out/extension.js
!client/out/extension.js.map
!client/package.json
!client/package-lock.json
server/**
!server/out/server.js
!server/out/server.js.map
!server/package.json
!server/package-lock.json
datalogpm-results-table-renderer/**
!datalogpm-results-table-renderer/out
!datalogpm-results-table-renderer/package.json
!datalogpm-results-table-renderer/package-lock.json
vadacode-results-webview/**
!vadacode-results-webview/dist
mocharc.js
.test-extensions
.test-storage
update_version.sh
**/*.tsbuildinfo
vadacode-logo.png
pom.xml
ci-mvn-settings.xml
src/ui-test/**
manual-scraper/**
